body {
    background-color: lightgray;
}

.container-fluid {
    width: 100%;
    height: 30px;
    background-color: maroon;
}

#title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}

button {
    display: inline-block;
    background-color: maroon !important;
    color: white;
    padding: 10px 10px;
    margin: 5px 5px;
    cursor: pointer;
    width: 50%;
}

#table {
    background-color: whitesmoke;
    margin: auto;
    padding: 16px 16px;
    width: 100%;
}

#goback {
    width: 20% !important;
}