body {
    background-color: lightgrey;
}

#title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}

#dash {
    text-align: center;
}

#form {
    width: 100%;
    white-space: nowrap;
    overflow-x:auto;
}

input[type=text], #desc {
    display: inline-block;
    width: 100%;
    padding: 14px 14px;
    margin: 8px 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  
button {
    display: inline-block;
    background-color: maroon !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    cursor: pointer;
    width: 40%;
}
  
.container {
    margin: 16px 16px;
    padding: 16px 16px;
    width: 100%;
    background-color: white;
}

.container-fluid {
    width: 100%;
    height: 30px;
    background-color: maroon;
}

.form-control {
    display: inline-block;
    width: 25%;
}

#newpost {
    text-align: center;
}

#form1 {
    text-align: justify;
    margin: auto;
    width: 90%;
}